html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* ========== MY GLOBAL STYLES ========== */

.fade {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: all 500ms ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
.icon {
  position: relative;
  transform: translateX(0);
  transition: all 100ms ease-in-out;
}
.icon:hover {
  color: rgba(255, 240, 157, 0.911);
  transform: translateY(-5px);
}
.nav-link {
  position: relative;
  transition: all 300ms ease-in-out;
}
.nav-link::after {
  transition: all 200ms ease-out;
  transition-delay: 100ms;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: white;
  width: 100%;
  height: 2px;
}
.nav-link:hover {
  color: rgba(255, 240, 157, 0.911);
}
.nav-link:hover::after {
  background-color: rgba(255, 240, 157, 0.911);
  top: 95%;
}
.nav-open{
  right:0;
  opacity: 1; 
}

.hero-icon {
  width: 100%;
  height: auto;
  /* border: 2px solid black; */
}
/* .hero-animation::-webkit-scrollbar { width: 0 !important } */
.move {
  transform: translateY(-500px);
}

/* HERO ANIMATION */
.hero-animation {
  position: relative;
}

.start-animate {
  transition: all 15000ms linear !important;
  transform: translateY(-110%) !important;
  display: block;
}

.init {
  transform: translateY(0%) !important;
}
.start {
  transform: translateY(-110%) !important;
  transition: all 7500ms linear !important;
}
.start2 {
  transition: all 15000ms linear !important;
  transform: translateY(-110%) !important;
}

.proj-image {
  -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);
}
.proj-image:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
