html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/* ========== MY GLOBAL STYLES ========== */

/* FADE COMPONENT */
.fade {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: all 500ms ease-out;
}
.show {
  opacity: 1;
  transform: translateY(0);
}
/* ICON COMPONENT */
.icon {
  position: relative;
  transform: translateX(0);
  transition: all 100ms ease-in-out;
}
.icon:hover {
  color: rgba(255, 240, 157, 0.911);
  transform: translateY(-5px);
}
/* HEADER NAV */
.intro-fade{
  opacity: 0;
  transform: translateY(-30px);
  /* animation-name: intro-fade; */
  /* animation-duration: 1s; */
}
.intro-fade-done{
  position: relative;
  transition:all .45s ease-out;
  opacity: 1;
  transform: translateY(0);
}
/* @keyframes intro-fade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  75% {
  } 

  to {
    opacity: 1;
    transform: translateY(0px);

  }
} */
/* .nav-link {
  position: relative;
  transition: all 300ms ease-in-out;
}
.nav-link::after {
  transition: all 200ms ease-out;
  transition-delay: 100ms;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: white;
  width: 100%;
  height: 2px;
}
.nav-link:hover {
  color: rgba(255, 240, 157, 0.911);
}
.nav-link:hover::after {
  background-color: rgba(255, 240, 157, 0.911);
  top: 95%;
}
.nav-open{
  right:0;
  opacity: 1; 
}
.nav-close{
  right:-70vw;
  opacity: 1;
} */

/* HERO ANIMATION COMPONENT */
.hero-icon {
  width: 100%;
  height: auto;
  /* border: 2px solid black; */
}
/* .hero-animation::-webkit-scrollbar { width: 0 !important } */

/* IMAGE KIT IMAGES AND PROJECT IMAGES */
.proj-image-container:before{
  backdrop-filter: grayscale(90%);
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left:0;
  height:100%;
  width: 100%;
  mix-blend-mode: darken;
  background-color: rgba(3, 32, 72, 0.316);
  z-index: 5;
}
.proj-image-container:hover:before{
background-color: transparent;  
backdrop-filter: grayscale(0%);

}

