html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.fade{
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition:  all 500ms ease-out;
}

.show{
  opacity: 1;
  transform: translateY(0);

}
.icon{
  position: relative;
  transform: translateX(0);
  transition: all 100ms ease-in-out !important;
}

.icon:hover{
  color:rgb(207, 91, 13);
  transform: translateY(-5px);
}